<nav>

  {% if 'username' not in session %}
    <a href="{{url_for('showLogin')}}">LogIn</a> {% else %}
    <img alt="User's Image" src="{{session['picture']}}" />
    <span>{{session['username']}}</span>
    <a href="{{url_for('gdisconnect')}}">LogOut</a>
  {% endif %}

</nav>
<div class='flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
</div>
