<!DOCTYPE html>
<html>

<head>
  <title>Item Catalog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>
    $(function() {
      $(".flash li").fadeOut(2500);
    });
  </script>
  {% if 'username' not in session %}
  <script src="//apis.google.com/js/platform.js?onload=start"></script>
  {% endif %}
</head>

<body>
  {% include "header.html" %}
  {% if 'username' in session %}
  <a href="{{url_for('addItem')}}" class="add"> Add a Game </a> {% endif %}
  <main>
    <h2>Game Genre</h2>
    {% for gamegenre in allgenres %}
      <a href="{{ url_for('showItems', category=gamegenre.name) }}">
        <p>
          {{ gamegenre.name.replace("_", "/") }}
        </p>
      </a>
    {% endfor %}


  </main>
  <aside>
    {% block content %}
    {% endblock %}
  </aside>
</body>

</html>
